 .u-section-1 {
  background-image: linear-gradient(#e5e5e5, white);
}

.u-section-1 .u-sheet-1 {
  min-height: 878px;
}

.u-section-1 .u-text-1 {
  font-family: Amiri;
  background-image: none;
  margin: 80px auto 0;
}

.u-section-1 .u-image-1 {
  width: 595px;
  height: 398px;
  margin: 8px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  letter-spacing: normal;
  margin: 0 auto;
}

.u-section-1 .u-countdown-1 {
  margin: 44px auto 60px;
  padding: 20px 26px;
}

.u-section-1 .u-countdown-counter-1 {
  font-weight: 700;
  font-size: 6rem;
  line-height: 1;
  background-image: none;
  padding: 10px;
}

.u-section-1 .u-countdown-label-1 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-1 {
  font-weight: 700;
  font-size: 6rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-2 {
  font-weight: 700;
  font-size: 6rem;
  line-height: 1;
  background-image: none;
  padding: 10px;
}

.u-section-1 .u-countdown-label-2 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-2 {
  font-weight: 700;
  font-size: 6rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-3 {
  font-weight: 700;
  font-size: 6rem;
  line-height: 1;
  background-image: none;
  padding: 10px;
}

.u-section-1 .u-countdown-label-3 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-3 {
  font-weight: 700;
  font-size: 6rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-4 {
  font-weight: 700;
  font-size: 6rem;
  line-height: 1;
  background-image: none;
  padding: 10px;
}

.u-section-1 .u-countdown-label-4 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-4 {
  font-weight: 700;
  font-size: 6rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-5 {
  font-weight: 700;
  font-size: 6rem;
  line-height: 1;
  background-image: none;
  padding: 10px;
}

.u-section-1 .u-countdown-label-5 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-5 {
  font-weight: 700;
  font-size: 6rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-6 {
  font-weight: 700;
  font-size: 6rem;
  line-height: 1;
  background-image: none;
  padding: 10px;
}

.u-section-1 .u-countdown-label-6 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 13px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 13px;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 841px;
  }

  .u-section-1 .u-text-1 {
    width: 423px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 361px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 707px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 227px;
  }
}